<h4>Passenger</h4>
<div class="fields">
  <%= f.text_field :name, label: false%>

  <%= f.number_field :age, label: false%>

  <%= f.label :email, label: false %>

</div>

<%= form.fields_for :reservation_detail do |addresses_form| %>

    <%= addresses_form.label :name %>
    <%= addresses_form.text_field :name %><br>
    <%= addresses_form.label :email %>
    <%= addresses_form.text_field :email %><br>
    <%= addresses_form.label :age %>
    <%= addresses_form.number_field :age %>

<% end %>