<!-- app/views/users/new.html.erb -->
<h1>Create a New User</h1>

<%= form_with(model: @reservation, local: true) do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age %>
  </div>

  <div class="field">
    <%= form.label :gender %>
    <%= form.select :gender, ['Male', 'Female', 'Other'] %>
  </div>

  <div class="actions">
    <%= form.submit 'Create User' %>
  </div>
<% end %>

