<h1 style="text-align:center">Bus Search</h1>
<div class="container">
  <%= form_with(url: buses_path, method: "get", local: true) do |form| %>
  
    <%=form.label :"" %>
    <%=form.text_field :bus_destination, name: 'search[bus_destination]', placeholder:"FROM", class:"form-control"%>

    <%=form.label :"" %>
    <%=form.text_field :bus_arrival, name: 'search[bus_arrival]', placeholder:"TO", class:"form-control"%>

    <%=form.label :"" %>
    <%=form.date_field :departure_date, name: 'search[departure_date]', placeholder:"DATE", class:"form-control"%>

    <div style="text-align:center"><%=form.submit "Search", class:"btn btn-success my-2" %></div>

  <% end %>
</div>

<hr>

<div class="container my-4 ms-auto">

  <div class="row ">
    <div>

      <% if @buses.present? %>
        <%= provide(:title, "All-Searches") %>

          <h2>Search Results:</h2>

          <% @buses.each do |bus| %>
            <div class="card">
           
            <h2 class="card-title bg-dark text-white text-center ">  <%= bus.bus_name %></h2>
            <div class="card-body">
              <h6>
                Bus-Type: <%= bus.bus_type%><br>
                Departure Date: <%= bus.departure_date %><br>
                Destination: <%= bus.bus_destination %><br>
                Price: <%= bus.seat_price %><br>
                Capacity: <%= bus.capacity%><br>
                Ratings: <%= bus.rating %><br>
                Arrival: <%= bus.bus_arrival%>
            
                
                <% if  (bus.capacity-bus.seats.where(availablity:"YES").count) <0%>
                  Seats-Available: <%="No seat avaliable"%>
                <%else%>
                  Seats-Available: <%= (bus.capacity-bus.seats.where(availablity:"YES").count)%>
                <%end%>
              </h6>
              <div style="text-align:right">
                <%=link_to "Book Now", bus_path(bus), class:"btn btn-dark 
                my-1 " %>
              </div>
            </div>
             
          </div>  
        <%end%>
      <%else%>
          <h2 class="card-text"> No buses found for the given criteria.</h2>
      <%end%>
    </div>
  </div>
</div>

<% if current_user.has_role? :admin %>

<%=button_to "All-Routes", routes_index_path, class:"btn btn-primary", method: :get	%>
<%end %>