<h1>Seats for buses -  <%= @bus.bus_name %></h1>






<table class=mx-auto>

      <th>Seat Number</th>
      <th>Status</th>
      <th>Click Here</th>
      <% @seats.each do |seat|%>

    <tr>
      <td><%= seat.seat_no%></td>
      <td><%= seat.availablity ? "YES" : "NO"%></td>
      <% if seat.availablity == true %> 
        <td><%=link_to "BOOK NOW"  %></td>
      <%else%>
        <td><%="Already Booked"%> 
      <%end%>
    </tr>
    <%end%>
  </table>

</body>
</html>
